body {
	margin-top: 90px;
	margin-bottom: 55px;
	background: radial-gradient(white, #e8e8e8, #afafaf);
	background-attachment: fixed;
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
html {
	height: 100%;
}

h1 {
	font-weight: bold;
}

h2 {
	text-align: center;
	margin-bottom: 25px;
}

h3 {
	margin-top: 25px;
	margin-bottom: 25px;
}

h1, h2, h3 {
	font-family: 'Lato', sans-serif;
	color: #030303;
}

p {
	font-family: 'Lato', sans-serif;
	font-size: 17px;
	letter-spacing: 0.05em;
	color: #030303;
}

#welcome-text {
	font-size: 1.3em;
}

a small {
	color: #0b2bd4;
}

a:hover small {
	font-weight: bold;
}

a.bold-hover {
	color: #0b2bd4;
}

a.bold-hover:hover {
	font-weight: bold;
}

#header-emblem {
	height: 30px;
	padding-bottom: 5px;
	padding-left: 5px;
}

#main-header {
	background-color: #030303;
	font-family: 'Lato', sans-serif;
	color: #030303;
	border-bottom: solid 2px;
}

#main-header a {
	color: #ecf0f1;
}

#main-header a:hover {
	background-color: #ad1007;
	color: #ecf0f1;
}

a#brand-link:hover {
	background-color: #030303;
	color: #ecf0f1;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
	background-color: #ad1007;
}

#toggle-btn {
	color: #030303;
	border-color: white;
	background-color: #030303;
}

#toggle-btn:hover {
	background-color: #030303;
}

#link-dropdown {
	background-color: #ad1007;
}

.active-tab {
	background-color: #ad1007;
}

.brand-logo {
	font-family: 'Lato', sans-serif;
	color: #ecf0f1;
	font-weight: bold;
}

.front-page-images {
	margin-top: 30px;
	margin-bottom: 30px;
	display: block;
	height: 130px;
}

.logos {
	width: 130px;
}

.link-description {
	text-align: center;
}

.link-description a {
	color: #030303;
}

ul {
	list-style: none;
	margin-bottom: 30px;
}

ul li {
	color: #ecf0f1;
}

.rule-spacing {
	margin-top: 30px;
	margin-bottom: 30px;
	border-color: #030303;
}

.section-spacing {
	margin-bottom: 30px;
}

.centered-text {
	text-align: center;
}

#map {
    width: 500px;
    height: 400px;
	background-color: #CCC;
}

small#benefits-bottom {
	font-size: 0.75em;
}

#benefits-bottom  a {
	color: #0b2bd4;
	font-size: 1.15em;
}

#benefits-bottom  a:hover {
	color: #0b2bd4;
	font-weight: bold;
}

#map{
	margin: auto;
}

.footer {
	height: 50px;
	bottom: 0px;
	position: fixed;
	background-color: #030303;
	width: 103%;
	color: #030303;
	border-top: solid 2px;
}

.footer p {
	color: #ecf0f1;
	padding-top: 10px;
	margin-left: 15px;
}